PORT=4000
NODE_ENV=development
FRONTEND_ORIGIN=http://localhost:5173
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xyrmxsd.mongodb.net/<dbname>?retryWrites=true&w=majority
REDIS_URL=redis://127.0.0.1:6379
JUDGE0_BASE_URL=https://judge0-ce.p.rapidapi.com
JUDGE0_API_KEY=your_rapidapi_key
JUDGE0_API_HOST=judge0-ce.p.rapidapi.com
RUN_RATE_LIMIT_WINDOW_MS=60000
RUN_RATE_LIMIT_MAX=30
MAX_SOURCE_SIZE=20000
PORT=4000
NODE_ENV=development
FRONTEND_ORIGIN=http://localhost:5173,http://localhost:5174,http://localhost:5179
MONGODB_URI=mongodb+srv://Sidak:Sidak%40123@cluster0.xyrmxsd.mongodb.net/myDB?retryWrites=true&w=majority
REDIS_URL=redis://127.0.0.1:6379
JUDGE0_BASE_URL=https://judge0-ce.p.rapidapi.com
JUDGE0_API_KEY=your_rapidapi_key
JUDGE0_API_HOST=judge0-ce.p.rapidapi.com
RUN_RATE_LIMIT_WINDOW_MS=60000
RUN_RATE_LIMIT_MAX=30
MAX_SOURCE_SIZE=20000
